<div class="container pad-top">
  <a ui-sref="newLocation()" class="btn-primary btn-lg nodecoration">Add New Location</a>
  <table class="table boardtable">
      <tr>
          <td><h3>City</h3></td>
          <td><h3>Date</h3></td>
          <td><h3>Temperature (°F)</h3></td>
          <td><h3>Description</h3></td>
      </tr>
      <tr ng-repeat="location in locations">
          <td>{{location.name}}</td>
          <td>{{location.weather.date}}</td>
          <td>{{location.weather.temp}}</td>
          <td>{{location.weather.text}}</td>
          <td>
            <a class="btn btn-danger"  ng-click="deleteLocation(location)">Delete</a>
          </td>
      </tr>
  </table>
</div>
